.cart-menu{
    position: absolute;
    top: 36px;
    right: -9px;
    background: rgb(36, 37, 41);
    width: 400px;
    padding: 10px 20px;
    z-index: 2;
    border-radius: 15px;
}

.cart-menu__arrange{
    margin-top: 20px;
    padding: 20px 0;
    border-radius: 1px solid gray;
}

.cart-menu__total-price{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}